<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632565572362-s6r2f9m228mf4ioalmetfu9dcih8u80l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632565572362-s6r2f9m228mf4ioalmetfu9dcih8u80l</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ4NCkzOaai60KqZm6UEXzzKdBe4JcqhU</string>
	<key>GCM_SENDER_ID</key>
	<string>632565572362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pupper.goat</string>
	<key>PROJECT_ID</key>
	<string>growroomauth</string>
	<key>STORAGE_BUCKET</key>
	<string>growroomauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632565572362:ios:3781365e04aa7702f010f3</string>
</dict>
</plist>